.gallary {
  margin: 0;
  padding: 0;
}

.gallary__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: @main-black;
  flex-wrap: wrap;

  & img {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: @main-black;
  }

  @media (min-width: @tablet-width) {
    & img {
      height: 270px;
      width: 384px;
    }
  }

  @media (min-width: @desktop-width) {
    & img {
      height: 297px;
      width: 300px;
    }
  }
}
